.navbar-brand {
  position: relative;
  transition: all 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(210, 210, 210, 0.05) 50%,
      rgba(200, 200, 200, 0.062) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    transform: perspective(250px) rotateX(20deg) translateY(-5%) translateZ(0);

    .react-logo {
      opacity: 1;
      transform: translateY(10%);
    }

    &::before {
      opacity: 1;
    }
  }

  .header-logo {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  }

  .react-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
  }
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  

  .drawer {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2rem;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    white-space: nowrap;
    max-width: 320px;

    &.open {
      width: 100%;
    }

    .nav-item {
      width: 100%;
    }
  }

  .drawer-mobile {
    display: none;
  }
}
